<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome <%= @order.employee.first_name %> <%= @order.employee.last_name %>!</h3>
    <p>Your order "<%= @order.reward_snapshot.title %>" has been delivered.</p>
    <p>Your code: <%= @online_code %> </p>
     <br>
    <p>Have a nice day!</p>
  </body>
</html>
