<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome <%= @order.employee.first_name %> <%= @order.employee.last_name %>!</h3>
    <p>Your order "<%= @order.reward_snapshot.title %>" is ready and waiting for pickup at our office at Hoża 36, 00-516 Warszawa</p>
    <br>
    <p>Come and visit us.</p>
    <p>Have a nice day!</p>
  </body>
</html>
