<p>
  <strong>Title:</strong>
  <%= @kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @kudo.content %>
</p>

<%= link_to 'Edit', edit_admin_kudo_path(@kudo), class:"btn btn-secondary" %> |
<%= link_to 'Back', admin_kudos_path, class:"btn btn-secondary" %>
