<p>
  <strong>Title:</strong>
  <%= category.title %>
</p>

<%= link_to 'Edit', edit_admin_category_path, class:"btn btn-sm btn-outline-secondary" %>
<%= link_to 'Back', admin_categories_path, class:"btn btn-sm btn-outline-secondary" %>
